body{
  height: 100vh;
    background-image: linear-gradient(90deg,rgba(131, 58, 180, 1) 10%,rgba(253, 29, 29, 1) ,rgba(252, 176, 69, 1));
    background-repeat: no-repeat;
    
}
.main{
    text-align: center;
    color:bisque;
      font-family: "Limelight", sans-serif;
      font-size:xx-large;
    font-weight:bolder;

}

.box{
  margin: 10px;
  height: 800px;
  width: 1000px;
  background-color: rgba(255, 255, 255,0.1)
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateBox{
  background-color: white;
  display: flex;
  justify-content: space-between;
}


 .date{
  width:930px;
  height:50px;
  font-size: x-large;
  font-weight: bold;
}  

.calender{
  width: 40px; height: 40px; border: none;
  size: 20px;
  align-items: center;
  margin:10px;
  
}

.box2{

  display: flex;
  flex-direction: column;
    width: 1000px;
     background-color: rgba(255, 255, 255,0.1);
         text-align: center;
    color:bisque;
     font-family: "Limelight", sans-serif;
      font-size:xx-large;
    font-weight:bolder;
}

.month{
  width: 1000px;
  height: 100px;
  display: flex;
justify-content: space-around;
  background-color: rgba(255, 255, 255,0.1)
}

.btn{
  background-color: rgba(255, 255, 255,0.0);
  border: none;
  color: white;
  height: 30px;
  margin: auto;
}

.days{
  display: flex;
  justify-content: space-evenly;
   background-color: rgba(255, 255, 255,0.1);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows:  repeat(5,8fr) ;
  margin: 20px;
  height: 500px;
  gap:5px;
  align-self: center;
 
 
}

.day{
    
    color:bisque;
     font-family: "Limelight", sans-serif;
      font-size:large;
    font-weight:bolder;
   background-color: rgba(255, 255, 255,0.0);
   text-align: center;
   margin-top: 3px;
   
   
   

}
.day:hover{
  
  font-size:xx-large;
  border:2px solid white;
}